<%- include("header", {title: title}); %>

<h1>Welcome to my Eshop</h1>

<p>Your one-stop shop for clothes, accessories and more. Browse our categories and products!</p>

<p>What do you want to do?</p>

<ul>
    <li><a href="product">View all products</a></li>
</ul>

<ul>
    <li><a href="category">View all categories</a></li>
</ul>

<ul>
    <li><a href="customer">View all customers</a></li>
</ul>

<ul>
    <li><a href="order">View all orders</a></li>
</ul>

<ul>
    <li><a href="about">About me</a></li>
</ul>

<%- include("footer"); %>